/* styles.module.css */

.roundedImage {
  border-radius: 50%;
  filter: grayscale(100%);
}

.mainContent {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 17%;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  padding-right: 30%;
}

.boxContent {
  padding-left: 60px;
}

.hello {
  font-weight: bold;
  font-size: 60px;
  font-family: 'Arial', sans-serif;
}

.about {
  font-weight: bold;
  font-size: 20px;
  font-family: 'Arial', sans-serif;
  margin-bottom: 20px; /* Add margin bottom for spacing */
}

.content {
  margin-top: 20px; /* Add margin top for spacing */
  margin-bottom: 20px; /* Add margin bottom for spacing */
  font-family: 'Arial', sans-serif;
  color: #333; /* Example styling */
}

.roundElements {
  display: flex;
  margin-bottom: 20px; /* Add margin bottom for spacing */
}

.roundElement {
  width: 120px;
  height: 120px;
  border-radius: 50% !important;
  background-color: #eea302;
  margin-right: 10px;
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  border: 2px solid black;
  position: relative;
  color: #000;
  text-decoration: none;
}

.roundElement a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0; 
  color: #000;
  text-decoration: none;
}

.roundElementFirst {
  background-color: #eea302; /* Yellow */
  overflow: none;
}

.roundElement:hover {
  background-color: #f3f3f3;
  color: #333;
}

.roundElementSecond {
  background-color: #ff3b25; /* Red */
}

.roundElementThird {
  background-color: #80d8da; /* Blue */
}

.roundLink {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  text-decoration: none;
  color: inherit;
}